<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
   
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                
                <a asp-action="Portal" asp-controller="Ecommerce" class="navbar-brand">Farmacia JL</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a asp-action="Basket" asp-controller="Ecommerce" class="nav-link text-dark">Carro
                                  
                            </a>
                            
                        </li>
                         
                        @if (@Context.Session.GetString("_User") != null && @Context.Session.GetString("_User")!="")
                        {
                            <li class="nav-item">
                                <a class=" nav-link text-white bg-primary"> Bienvenido :  @Context.Session.GetString("_User")</a>
                            </li>

                            <li class="nav-item">
                                <a asp-controller="Ecommerce" asp-action="Order" class="nav-link text-black"> Ordenes </a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="Logout" asp-controller="Login" class="nav-link text-black">Cerrar Sesion</a>
                            </li>

                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">Iniciar Sesión</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Ecommerce- <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        window.watsonAssistantChatOptions = {
            integrationID: "090fd632-f762-488b-982a-6cd0214ce337", // The ID of this integration.
            region: "au-syd", // The region your integration is hosted in.
            serviceInstanceID: "0fac8a66-fcf2-4179-9d05-41df3b4c73b4", // The ID of your service instance.
            onLoad: async (instance) => { await instance.render(); }
        };
        setTimeout(function () {
            const t = document.createElement('script');
            t.src = "https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
            document.head.appendChild(t);
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>