@model ProyectoFarmacia.Models.ProductModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h1>Edit</h1>

<h4>ProductModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdProduct" class="control-label"></label>
                <input asp-for="IdProduct" class="form-control" />
                <span asp-validation-for="IdProduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameProduct" class="control-label"></label>
                <input asp-for="NameProduct" class="form-control" />
                <span asp-validation-for="NameProduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCategory" class="control-label"></label>
                <input asp-for="IdCategory" class="form-control" />
                <span asp-validation-for="IdCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceUnit" class="control-label"></label>
                <input asp-for="PriceUnit" class="form-control" />
                <span asp-validation-for="PriceUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitsStock" class="control-label"></label>
                <input asp-for="UnitsStock" class="form-control" />
                <span asp-validation-for="UnitsStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageProduct" class="control-label"></label>
                <input type="file" asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageProduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

